<div>
  <p><font face="arial" size="4">
    Add Project
    </font>
  </p>
</div>
<div>
  <p><font face="arial" size="2">
    Name
    </font>
  </p>
</div>
<div>
    <label>
    </label>
      <input [(ngModel)]="search.projectname" placeholder="Project Name Example" size="100" style="height:20px;">
</div>
<div>
    <p><font face="arial" size="2">
      Type
      </font>
    </p>
  </div>
<div>
  <p><font face="arial" size="2">
    <form>
        <input type="radio" name="Money" value="capital" checked> Capital
        <input type="radio" name="Money" value="expense"> Expense
    </form> 
    </font>
  </p>
</div>
<div>
    <p><font face="arial" size="2">
      Status
      </font>
    </p>
  </div>
<div>
  <label></label><select  style="width:965px;">
    <option value="active">Active </option>
    <option value="withheld">withheld</option>
       </select>
</div>
<div>
  <p><font face="arial" size="2">
     Manager
     </font>
  </p>
</div>
<div>
<label></label>
   <input [(ngModel)]="search.projectname" placeholder="Parvathy PB" size="100" style="height:20px;">
</div>
<div>
  <p><font face="arial" size="2">
    Director
     </font>
  </p>
</div>
<div>
  <label></label>
    <input [(ngModel)]="search.projectname" placeholder="Jacquiline Deepak" size="100" style="height:20px;">
</div>
<div>
  <p><font face="arial" size="2">
      Project Manager
      </font>
  </p>
</div>
<div>
  <label></label>
    <input [(ngModel)]="search.projectname" placeholder="Abhiram H" size="100" style="height:20px;">
</div>
<div>
  <p><font face="arial" size="2">
      Users
      </font>
  </p>
</div>
<div>
<label></label>
    <input [(ngModel)]="search.projectname" placeholder="Project Name Example" size="100" style="height:150px;">
</div>
<div>
  <p><font face="arial" size="2">
      Activities
    </font>
  </p>
</div>
<div>
  <label></label>
    <input [(ngModel)]="search.projectname" placeholder="Project Name Example" size="100" style="height:100px;">
</div>


<div>
    <p><font face="arial" size="4">
       Create Stage
       </font>
    </p>

<div> 
    <p><font face="arial" size="2">
        Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Budget
         </font>
       </p>
       
</div>  
<div>
    <label></label><input [(ngModel)]="search.projectname"size="45" style="height:20px;">
    <label></label><input [(ngModel)]="search.projectname"size="45" style="height:20px;">
</div>
<div> 
    <p><font face="arial" size="2">
        Start Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        End Date
         </font>
       </p>
       
</div>  
<div>
    <label></label><input [(ngModel)]="search.projectname"size="45" style="height:20px;">
    <label></label><input [(ngModel)]="search.projectname"size="45" style="height:20px;">
</div>


















  </div>
<div>
  <p align="middle">
    <input type="button" style="width:125px;height:40px;color:aliceblue;background-color:blue" value="Add Stage" >
</div>
<div>
  <p align="middle">
    <input type="button" style="width:125px;height:40px;color:aliceblue;background-color:grey" value="Cancel" >
    <input type="button" style="width:125px;height:40px;color:aliceblue;background-color:blue" value="Save" >           
  </p> 
</div>