<div class="row" style=background-color:#3399FF>
  <img src="https://www.marketbeat.com/logos/intuitive-surgical-inc-logo.gif" height="75" width="100"> 
       

      
      </div>
       

                                <!-- Collect the nav links, forms, and other content for togglin&nbsp;&nbsp;&nbsp;&nbsp;g -->
                                <div class="collapse navbar-collapse" id="main-menu">
                                    <ul class="nav navbar-nav full-width">
                                     <a routerLink="/timecard">Timecard</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <a routerLink="/project">Projects</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                                      <a href="#">User/Roles</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <a href="#">Reports</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <a href="#">Calendar</a>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            
                          
                      
                  
                
                
  
