<p>
  <font size="5"face="arial">
    Projects
  </font>
</p>



<div>
  <label>
    </label>
      <input [(ngModel)]="search.projectname" placeholder="projectname" size="90" style="height:20px;">
        <button type="button" style="width:100px;height:30px;color:aliceblue;background-color:darkgrey">
          SEARCH
        </button> 
</div>
<br>
  <div>
  </div>
  <div>
    <a routerLink="/abhi2">
      <font size="5">
      Add Project
      </font>
    </a>
  </div>

  <br>
  

  <div>
    <table border = "0" width="1300" style="margin-top:1000px;" style bgcolor="white" >
      <tr>
        <th ><font color="black">NAME</font></th>
        <th ><font color="black">TYPE</font></th>
        <th ><font color="black">STATUS</font></th>
        <th ><font color="black">MANAGER</font></th>
        <th ><font color="black">DIRECTOR</font></th>
        <th ><font color="black">ACTION</font></th>
      </tr>
    </table>
  </div>
                                                 


