<p>
  <font size="5"face="arial">
    Projects
  </font>
</p>



<div>
  <label>
    </label>
      <input  placeholder="projectname" size="90" style="height:20px;">
        <button type="button" style="width:100px;height:30px;color:aliceblue;background-color:darkgrey">
          SEARCH
        </button> 
</div>
<br>
  <div>
  </div>
  <div>
    <a routerLink="/project/addproject">
      <font size="5">
      Add Project
      </font>
    </a>
  </div>

  <br>
  

  <div>
    <table border = "0" width="1300" style="margin-top:1000px;" style bgcolor="white" >
      <tr>
        <th align="left">NAME</th>
        <th align="left">TYPE</th>
        <th align="left">STATUS</th>
        <th align="left">MANAGER</th>
        <th align="left">DIRECTOR</th>
        <th align="left">ACTION</th>
      </tr>
      <tr *ngFor="let i of datas.data" >
        
            <td> {{i.Name}}</td>
            <td> {{i.Type}} </td>
            <td> {{i.Status}} </td>
            <td> {{i.Manager}} </td>
            <td> {{i.Director}} </td>
        </tr>
        
    </table>
  </div>
                                                 


